header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	border-bottom: 1px solid gray;
}

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	max-width: 500px;
	min-width: 200px;
}
